.pretty_form {
    width: min-content;
    min-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.pretty_textbox {
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.pretty_textbox:focus {
    border: 2px solid #555;
}

.button_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

button {
    background-color: lightgray;
    cursor: pointer;
    padding: 5px 5px;
    margin: 0 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

Button:hover {
    border: 2px solid #555;
}

Button:active {
    position: relative;
    top: 1px;
}

.pretty_checkbox {
    display: none;
}

.pretty_checkbox~label {
    font-family: sans-serif;
    background-color: lightgray;
    display: inline-block;
    cursor: pointer;
    padding: 5px 5px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
}

.pretty_checkbox~label:hover {
    border: 2px solid #555;
}

.pretty_checkbox:checked~label {
    background-color: blue;
}