.column {
	float: left;
	width: 33%;
	padding: 10px;
}
h1, h2{
	text-align: center;
}

/*Get Select2 Boxes and buttons in one row*/
#removeSelector, #confirmRemove {
	width: 50%!important;
	display: inline-block;
	/* aligned to each other and not the .wrapper */
	height: 100%;
	/* already was inline by default - but just to be clear */
	vertical-align: middle;
}

/*stack forms vertically on mobile devices*/
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}