.topnav {
    background-color: #f1f1f1;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #0275d8;
    color: white;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    margin-top: 40px !important;
    background-color: #f1f1f1;
}

.footer_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_content div {
    display: inline-block;
    margin: 10px 50px;
}


/* Form elements */
.pretty_form {
    width: 95%;
    max-width: 400px;
    margin: auto;
    display: grid;
    row-gap: 20px;
}
   

.pretty_button {
    background-color: #0275D8;
    color: #E0E0E0 !important;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    line-height: 1.6 !important;
}

.pretty_button:hover {
    background-color: #0065C8;
}

.pretty_checkbox {
    display: none;
}

.pretty_checkbox:checked~label, .pretty_button.active {
    background-color: #00468b;
}


.pretty_textbox {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding: 6px 12px;
    width: 100%;
    border: 1px solid #e6e6e6;
    line-height: 1.6 !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.pretty_textbox:hover {
    background-color: #f0f0f0;
}

.pretty_textbox:focus-within {
    box-shadow: 0px 0px 8px 0px rgba(102, 175, 233, 0.59);
}

.pp_checkbox_container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

.pretty_message {
    padding: 15px;
    margin: 10px auto;
    width: 400px;
    border-radius: 7px;
    background-color: orange;
    color: black;
}

.pretty_link {
    color: #0275D8;
}

.content_container {
    max-width: 800px;
    width: 90%;
    margin:auto;
    display: grid;
    row-gap: 20px;
}

.section {
    /* background-color: #f0f0f0; */
    padding: 15px 0;
}

@media (prefers-color-scheme: dark) {
    /*General*/
    body {
        background-color: #212121;
        color: #E0E0E0;
    }
    footer {
        background-color: #333333;
    }
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #333;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
        color: #f2f2f2;
    }
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #000000;
        color: #E0E0E0;
    }
    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #0275d8;
        color: white;
    }
    .footer {
        background-color: #333;
        color: #f2f2f2;
    }
    .pretty_textbox {
        background-color: #515151;
        border: 1px solid #353535;
    }
    .pretty_textbox:hover {
        background-color: #424242;
    }

    /* .section {
		background-color: #343434;
	} */
    
}