/* Color Themes */

@media (prefers-color-scheme: light) {
    .pell-content {
        background-color: white;
    }
    .toggleLabel {
        background-color: #F0F0F0;
    }
    .toggleLabel:hover,
    .toggleLabel.active {
        background-color: #D6D6D6;
    }
}

.form_container_container {
    max-width: 1300px;
    width: 95%;
    margin: auto;
}

.form_container {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 20px;
    row-gap: 20px;
}

.form_container label {
    text-align: right;
    margin-top: 6px;
}

@media only screen and (max-width: 500px) {
    .form_container {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 10px;
    }
    .form_container label {
        text-align: left;
    }
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
    /*General*/
    body {
        background-color: #212121;
        color: #E0E0E0;
    }
    footer {
        background-color: #333333;
    }
    /*Pell WYSIWYG Editor*/
    .pell {
        background-color: #353535;
    }
    .pell-content {
        background-color: #515151;
    }
    .pell-actionbar {
        background-color: #424242;
    }
    .pell-button-selected {
        background-color: #292929;
    }
    /*Search Icon*/
    #searchButton {
        background-color: #424242;
        color: #E0E0E0;
        border-left: 1px solid #353535;
        z-index: 3;
    }
    #searchButton:hover {
        background-color: #353535;
        z-index: 3;

    }
    /*Attachments*/
    #anhaenge_liste div {
        background-color: #484848;
        border: 1px solid #222222;
    }
    /*Email Status list*/
    #status {
        background-color: #303030;
        border: none;
    }
    /*Parent/Student Selector*/
    .toggleLabel,
    .toggleLabel.focus {
        background-color: #0275D8;
    }
    .toggleLabel:hover,
    .toggleLabel.active,
    .toggleLabel.active.focus {
        background-color: #0065C8;
        color: #E0E0E0;
    }
    /*Confirm Modal*/
    #confirmPopup,
    .modal,
    .modal-dialog,
    .modal-header,
    .modal-content {
        background-color: #262626;
        border: 1px solid #111111;
        color: #E0E0E0;
    }
    .abortButton {
        background-color: #484848;
        border: none;
        color: #E0E0E0;
    }
    .abortButton:hover {
        border: none;
        background-color: #303030;
        color: #E0E0E0;
    }
    #selectedUser {
        background-color: #303030;
        color: #E0E0E0;
    }
    #selectedUser:hover {
        background-color: #414141;
        color: #E0E0E0;
    }
    .close {
        color: #E0E0E0;
    }
    .close:hover {
        color: #E8E8E8;
    }
    /*Email Status Table*/
    #statusTable {
        margin-top: 1%;
        color: #E0E0E0;
    }
    #statusTable td {
        background-color: #434343;
        color: #E0E0E0;
        border: 1px solid #111111;
    }
    #statusTable td:hover {
        background-color: #515151;
        color: #E0E0E0;
        border: 1px solid #111111;
    }
    #statusTable tr th {
        background-color: #383838;
        color: white;
        border: 1px solid #111111;
    }

    /*progress bar*/
    .progress{
        background-color: #484848;
    }
}