<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
	
		<h3>Für den Newsletter anmelden</h3>
		<hr/>

		{%- for message in get_flashed_messages() %}
			{{ message }}
		{%- endfor %}
		Für mehrere Klassen müssen mehrere Einträge gemacht werden
		<form action="{{ request.path }}" method = "post">
			<label for="email">Email</label><br>
			<input type="text" name="email" placeholder="maxmustermann@example.com" /><br>

			<label for="klasse">Klasse</label><br>
			<input type="text" name="klasse" placeholder="5a" /><br>
			<input type="submit" value="Submit" />
		</form>
		
	</body>
</html>