<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Description" content="Der Newsletter vom Kepler-Gymnasium Tübingen">
	<meta name="theme-color" content="#FF0000">

	<link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/svg+xml">

	<title>{% block title%}{% endblock %}</title>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='build/styles/style.css') }}">

	{% block head%}{% endblock %}
</head>

<body>
	<div class="content">
		<!-- Navbar -->
		<div class="topnav">
			<a {% if request.endpoint == 'public_routes.home' %} class="active" {% endif %} href="{{ url_for('public_routes.home') }}">Newsletter</a>
			{% if current_user.role == 'teacher' %}
			<a {% if request.endpoint == 'email_routes.schreiben' %} class="active" {% endif %}
				href="{{ url_for('email_routes.schreiben') }}">Email schreiben</a>
			<a {% if request.endpoint == 'login_routes.manage_groups' %} class="active" {% endif %}
				href="{{ url_for('login_routes.manage_groups') }}">Gruppeneinstellungen</a>
			{% endif %}
			{% if not current_user.is_anonymous %}
			<a {% if request.endpoint == 'login_routes.settings' %} class="active" {% endif %}
				href="{{ url_for('login_routes.settings') }}">Einstellungen</a>
			{% endif %}
			<a {% if request.endpoint == 'public_routes.privacy_policy' %} class="active" {% endif %}
				href="{{ url_for('public_routes.privacy_policy') }}">Datenschutz</a>
			{% if current_user.is_anonymous %}
			<a {% if request.endpoint == 'login_routes.login' %} class="active" {% endif %} style="float: right;"
				href="{{ url_for('login_routes.login', next=url_for(request.endpoint)) }}">Anmelden</a>
			{% else %}
			<a style="float: right;" href="{{ url_for('login_routes.logout', next=url_for(request.endpoint)) }}">Abmelden</a>
			{% endif %}
		</div>
		<div id="messages">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="pretty_message">{{ message }}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>

		{% block body %}
		{% endblock %}
	</div>


	<footer class="small">
		<div class="footer_content">
			<div>
				<h4>Kontakt</h4>
				Kepler-Gymnasium Tübingen<br> Uhlandstr. 30<br> 72072 Tübingen<br> Tel.: <a class="pretty_link" href="tel:004970712041215"
					title="Startet einen Anruf.">07071/204-1215</a><br>
			</div>
			<div>
				<h4>Website</h4>
				Layout, Entwicklung und Design<br> vom <a class="pretty_link" href="mailto:admin@kepi.de">Informatikkurs
					2019/20/21</a><br>
				<a class="pretty_link" href="https://gitlab.com/kepi/newsletter" style="margin: auto;">
					<img src="{{ static_url_for('static', filename='img/gitlab-logo.svg') }}" alt="Project on Gitlab"
						style="width:60px;height:60px;margin: auto;">
				</a>
				<p><a class="pretty_link" href="https://gitlab.com/kepi/newsletter/-/issues">Fehler melden</a></p>
			</div>
		</div>
	</footer>
</body>

</html>