<script src="https://hcaptcha.com/1/api.js" async defer></script>
<div id="captcha_container"></div>
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.getElementById('captcha_container').outerHTML = '<div style="margin: auto;" class="h-captcha" data-sitekey="6f9126c9-369a-4be7-8274-6d8905c454fb" data-theme="dark"></div>'
    }
    else {
        document.getElementById('captcha_container').outerHTML = '<div style="margin: auto;" class="h-captcha" data-sitekey="6f9126c9-369a-4be7-8274-6d8905c454fb" data-theme="light"></div>'
    }
</script>