<!DOCTYPE html>

<html lang="de">
	<head>
		<meta charset="UTF-8">
    </head>
    <body>
        <div id="container">
            <div class="content">
                {{ message|safe }}
            </div>
            <footer>
                <a href=" {{ url_for('login_routes.settings', token=unsubscribe_token, _external=True) }} ">
                    Abmelden / Einstellungen ändern
                </a>
            </footer>
        </div>

        </div>
    </body>
    <style>
        html,
        body {
            margin:0;
            padding:0;
            height:100%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        #container {
            min-height:100%;
            position:relative;
            height:100%;
        }
        .content {
            margin: auto;
            padding: 40px;
            width: max-content;
            max-width: 1000px;
            padding-bottom:60px;   /* Height of the footer */
        }
        footer {
            position:absolute;
            bottom:0;
            width:100%;
            height:60px;   /* Height of the footer */
            text-align: center;
            background-color: #f1f1f1;
        }

        a {
            color: #0275d8;
        }

        footer a {
            position: relative;
            top: 20px;
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: #212121;
                color: #E0E0E0;
            }
            footer {
                background-color: #333333;
            }
        }
    </style>
</html>