<!-- This needs to have jquery to be preloaded -->

<!-- select2 and select2-bootstrap-theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css">
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/de.js"></script>

<!-- Custom Select2 Styles -->
<link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='build/styles/group_selector.css') }}">
{% if id %} {% set select2_id = id %} {% else %} {% set select2_id = "groupSelector" %} {% endif %}

<div class="input-group">
    <input type="hidden" name="groups" id="groups" value=""></input>
    <select 
        id = '{{ select2_id }}' 
        class="pretty_textbox select2-multiple groupSelector" 
        style="width: 100%;" 
        multiple
        {% if required %} required {% endif %} 
        onchange="select_changed()">
        {% if not source %}
            {% for group in groups %}
                    <option value="{{ group }}" {% if groups[group] %} selected {% endif %}>{{ group }}</option>
            {% endfor %}
        {% endif %}
    </select>
    <span class="input-group-btn">
        <button class="searchButton btn btn-default btn-height" 
            type="button" 
            data-select2-open='{{ select2_id }}'
            id="searchButton-{{ select2_id }}"
            aria-label="Suchen">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>

<script type="text/javascript">
    // Initialize Select2 on the vanilla select box
    $("#{{ select2_id }}").each(function(){
        $(this).select2({
            language: "de",
            placeholder: {% if not placeholder %}"Suchen sie nach Gruppen"{% else %}"{{ placeholder }}"{% endif %},
            width: "resolve",
            tokenSeparators: [',', ' '],
            theme: "bootstrap",
            escapeMarkup: function(markup) {
                return markup;
            },
            templateResult: function(data) {
                if("html" in data){
                    return data.html;
                }
                else{
                    return data.text;
                }
            },
            templateSelection: function(data) {
                return data.text;
            },
            {% if source %}
            ajax: {
                url: '{{ source }}',
                dataType: 'json',
                data: function (params) {
                    var queryParameters = {
                       query: params.term || "",
                       page: params.page || 0,
                       group: $("#chooseGroupSelector").val()[0],
                       in_group: '{{ in_group }}'
                    }
                    return queryParameters;
                },
            }
            {% endif %}

        });
    });

    // This makes the Search button open the Select2 element when clicked
    $("button[data-select2-open]").each(function(){
        $(this).click(function() {
            $("#" + $(this).data("select2-open")).select2("open");
        });

    });
    // Add selected groups to hidden field in form
    function select_changed(){
        document.getElementById('groups').value = $("#{{ select2_id }}.pretty_textbox.select2-multiple.select2-hidden-accessible").val()
    }
    select_changed()
    {% if single %}
        // The default select2 single select element looks terrible,
        // so just use a multiple select and delete every selection
        // except for the newest one
        $('#{{ select2_id }}').on('select2:select', function (e) {
            $(this).val(e.params.data.id).change();
        });
    {% endif %}
</script>