{% extends "base.html" %}

{% block title %}
Anleitung
{% endblock %}

{% block body %}
<style type="text/css">

</style>
<div class="content_container">
	<h1>Herzlich Willkommen beim Newsletter des Kepler-Gymnasiums Tübingen</h1>
	<p>
		Diese Seite ersetzt herkömmliche Emailverteiler. Wenn Sie sich beim Newsletter registrieren, bleib Ihre
		Emailadresse auf dem Server gespeichert, und kann nicht von anderen eingesehen werden. Die Lehrer*innen wählen
		beim schreiben einer Email eine Gruppe an Personen aus, an die diese geschickt wird. Sie wählen selber von
		welchen Gruppen Sie die Emails erhalten wollen.
	</p>

	<h1>Anleitung zum Newsletter</h1>

	<div class="section">
		<h2>Allgemeines</h2>
		<p>
			Die gesamte Seite sowie die gesendeten Emails können im Darkmode sowie im Lightmode gesehen werden, je nach
			dem
			welche Farbe auf dem Gerät oder Browser eingestellt ist.
		</p>
	</div>

	<div class="section">
		<h2>Anleitung für Schüler*innen/Eltern</h2>
		<p>
			Nach Erstellung ihres Accounts erhalten Sie von uns eine Bestätigungsmail. Bitte öffnen Sie den Link darin
			innerhalb von 24h um ihre Email zu bestätigen. Sollten Sie das nicht tun werden ihre Daten gelöscht und Sie
			müssen sich ein zweites Mal registrieren.

			In jeder über dieses System verschickten Mail befindet sich ein Link zu ihren Accounteinstellungen. Dort
			können Sie ihren Account löschen oder ihre ausgewählten Gruppen verändern.
		</p>
	</div>

	<div class="section">
		<h2>Anleitung für Lehrer*innen</h2>
		<p>
			Der Anmeldeprozess als Lehrer*in ist grundsätzlich derselbe wie für Schüler/Eltern.
			Verwenden Sie bitte ihre Kepimailadresse, das System erkennt und verifiziert dadurch ihre
			Rolle als Lehrer*in.

			Als Lehrer*in haben Sie die Berechtigung Emails zu versenden. Sobald sie sich einloggen erscheint
			oben in der Navigationsleiste ein Link zur dafür vorgesehenen Seite.
			In dem Formular können Sie die Gruppen mithilfe einer Suchleiste auswählen.
			Wenn Sie die Namen der Gruppen genau kennen, können Sie diese auch einfach durch
			Kommas oder Leerzeichen getrennt eingeben.
			Den Inhalt können Sie mithilfe der Symbolleiste über der Textbox verändern.
			Die klassischen Optionen wie <i>kursiv</i> oder <b>fett</b> werden alle unterstützt.
			Unter der Textbox finden Sie drei Knöpfe mit der Bezeichnung 'Gruppen:'. Während Sie oben in der
			Suchleiste nach den Empfängergruppen wie zb. 9a oder J1_M1_Wund gesucht haben müssen Sie hier
			auswählen ob die jeweilige Nachricht an die Eltern, die Schüler oder alle Personen die
			Teil dieser Gruppe sind gesendet werden soll. (Die Lehrer*innen dieser Gruppe empfangen diese
			Nachricht immer).

			Sobald Sie auf den 'Absenden' Knopf drücken erscheint ein Ladebildschirm - der Browser kommuniziert
			in dieser Zeit mit dem Server, Wartezeiten länger als 1-2 Sekunden sollten nicht auftreten. Dann erscheint
			ein Popup in dem Sie die Namen aller Personen sehen die mit den von ihnen getroffenen Einstellungen die
			Mail erhalten werden. Überprüfen Sie die Liste und drücken Sie Bestätigen/Abbrechen. Wenn Sie bestätigt
			haben erscheint unter dem Sendeformular eine Liste mit allen Empfängern und einer Statusmeldung, also wer
			die Email empfangen hat und bei wem ein Fehler aufgetreten ist.
		</p>
	</div>

	<div class="section">
		<h2>Umgang mit Fehlern</h2>
		<p>Wenn Sie diese Seite mit Internet Explorer aufrufen dann funktioniert es nicht. Wir unterstützten Internet
			Explorer nicht. Verwenden Sie bitte einen modernen Browser wie Firefox</p>
		<p>
			Sollten Sie beim Benutzen der Seite auf Fehler stoßen, oder Sie haben einen Vorschlag zur verbesserung der
			Seite, dann teilen Sie uns diese bitte über den Link im Footer (<a
				href="https://gitlab.com/kepi/newsletter/-/issues">Fehler melden</a>) mit. Bitte melden Sie Fehler
			innerhalb einer Woche, da die Serverlogs nach sieben Tagen gelöscht werden.
		</p>
	</div>
</div>

{% endblock %}