{% extends 'base.html' %}

{% block title %}
Anmelden
{% endblock %}

{% block body %}
<form class="pretty_form" action="{{ url_for('login_routes.login', next=request.args.get('next')) }}" method="post">
    <h3 style="text-align: center;">Bitte melden Sie sich an</h3>
    <div>
        <label for="email">E-Mailadresse</label>
        <input style="width: 100%;" class="pretty_textbox" type=email id="email" name=email placeholder="E-Mailadresse" value="{{ email }}" required>
    </div>
    {% if teacher_login %}
    <div>
        <label for="password">Passwort</label>
        <input style="width: 100%;" class="pretty_textbox" type=password id="password" name=password placeholder="Passwort" required>
    </div>
    <div>
        <a class="pretty_link" href="{{ password_reset_link }}">Passwort vergessen?</a>
    </div>
    {% endif %}
    
    <button class="pretty_button" style="width: 100%;" type=submit value=register>Anmelden</button>
</form>
{% endblock %}
