{% extends "base.html" %}

{% block title %}
Manage Groups
{% endblock %}

{% block head %}
<!-- HoldOn Skripts -->
<link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='build/styles/HoldOn.min.css') }}">
<script src="{{ static_url_for('static', filename='build/js/HoldOn.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='build/styles/manage_groups.css') }}">
<script src="{{ static_url_for('static', filename='build/js/manage_groups.js') }}"></script>

{% endblock %}

{% block body %}

<h1>Gruppen bearbeiten</h1>
<div class="column">
	<!-- Create Group -->
	<h2>Erstellen</h2>
	<form id="createGroup" class="pretty_form" onsubmit="send('create');return false">
		<input id="createName" type="text" placeholder="Gruppenname" class="pretty_textbox" required>
		<button type="submit" class="pretty_button">Gruppe erstellen</button>
	</form>
</div>

<div class="column">
	<!-- Rename Group -->
	<h2>Umbenennen</h2>
	<form id="renameGroup" class="pretty_form" onsubmit="send('rename');return false">
		{% with id="renameGroupSelector", placeholder="Wählen sie eine Gruppe aus", required=True, single=True %}
			{% include 'group_selector.html' %}
		{% endwith %}
		<input id="renameName" type="text" placeholder="Neuer Name" class="pretty_textbox" required>
		<button type="submit" class="pretty_button">Gruppe umbenennen</button>
	</form>
</div>

<div class="column">
	<!-- Delete multiple Groups -->
	<h2>Löschen</h2>
	<form id="deleteGroup" class="pretty_form" onsubmit="send('delete');return false">
		{% with id="deleteGroupSelector", required=True %}
			{% include 'group_selector.html' %}
		{% endwith %}
		<button type="submit" class="pretty_button">Gruppen Löschen</button>
	</form>
</div>

<div class="column">
	<h2>Mitglieder auswählen</h2>
	<form id="editGroup" class="pretty_form" onsubmit="send('edit');return false">
		<!-- Choose Group -->
		{% with id="chooseGroupSelector", placeholder="Wählen sie eine Gruppe aus", required=True, single=True %}
			{% include 'group_selector.html' %}
		{% endwith %}
		<!-- View Users not in selected Group - add them -->
		{% with id="addSelector", placeholder="Fügen sie Mitglieder zur Gruppe hinzu", source="/get_users_ajax", in_group=False%}
			{% include 'group_selector.html' %}
		{% endwith %}
		<!-- View Users in selected Group - remove them-->
		{% with id="removeSelector", placeholder="Entfernen sie Mitglieder aus der Gruppe", source="/get_users_ajax", in_group=True%}
			{% include 'group_selector.html' %}
		{% endwith %}
		<button type="submit" class="pretty_button">Änderungen speichern</button>
	</form>
</div>
{% endblock %}