{% extends 'base.html' %}

{% block body %}
<div class="content_container">
    <h1>Datenschutzerklärung nach der DSGVO</h1>
    <div class="section">
        <h2>
            Name und Anschrift des Verantwortlichen
        </h2>

        <p>Der Verantwortliche im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze
            der
            Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist das:</p>
        <p>
            Kepler-Gymnasium Tübingen<br>
            Uhlandstraße. 30<br>
            72072 Tübingen<br>
            Deutschland<br>
            Tel.: T07071/204-1215<br>
            E-Mail: <a class="pretty_link"
                href="mailto:schulleitung@kp.tue.bw.schule.de">schulleitung@kp.tue.bw.schule.de</a><br>
            Website: <a class="pretty_link" href="https://kepiserver.de">kepiserver.de</a><br>
        </p>
    </div>
    <div class="section">
        <h2>
            Allgemeines zur Datenverarbeitung
        </h2>

        <ol type="1">
            <h4>
                <li>Umfang der Verarbeitung personenbezogener Daten</li>
            </h4>
            <p>Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur
                Bereitstellung
                einer funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Die
                Verarbeitung
                personenbezogener Daten unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers.</p>

            <h4>
                <li>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</li>
            </h4>
            <p>Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) dient als Rechtsgrundlage.</p>

            <h4>
                <li>Datenlöschung und Speicherdauer</li>
            </h4>
            <p>Die personenbezogenen Daten der betroffenen Person werden gelöscht sobald der Zweck der Speicherung
                entfällt.</p>
        </ol>
    </div>
    <div class="section">
        <h2>
            Verwendung von Cookies
        </h2>
        <ol type="1">
            <h4>
                <li>Beschreibung und Umfang der Datenverarbeitung</li>
            </h4>
            <p>Unsere Webseite verwendet Cookies. Bei Cookies handelt es sich um Textdateien, die im Internetbrowser
                bzw.
                vom Internetbrowser auf dem Computersystem des Nutzers gespeichert werden. Ruft ein Nutzer eine
                Website auf,
                so kann ein Cookie auf dem Betriebssystem des Nutzers gespeichert werden. Dieser Cookie enthält eine
                charakteristische Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim erneuten
                Aufrufen der
                Website ermöglicht. Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Das
                Log-In-System unserer Internetseite erfordern es, dass der aufrufende Browser auch nach einem
                Seitenwechsel
                identifiziert werden kann.</p>

            <h4>
                <li>Rechtsgrundlage für die Datenverarbeitung</li>
            </h4>
            <p>Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von Cookies ist
                Art. 6
                Abs. 1 lit. f DSGVO.</p>

            <h4>
                <li>Zweck der Datenverarbeitung</li>
            </h4>
            <p>Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von Websites für die Nutzer
                zu
                vereinfachen. Das Log-In-System unserer Internetseite kann ohne den Einsatz von Cookies nicht
                angeboten
                werden. Für dieses ist es erforderlich, dass der Browser auch nach einem Seitenwechsel wiedererkannt
                wird.
                Die durch technisch notwendige Cookies erhobenen Nutzerdaten werden nicht zur Erstellung von
                Nutzerprofilen
                verwendet.</p>

            <h4>
                <li>Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit</li>
            </h4>
            <p>Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer Seite übermittelt.
                Daher
                haben Sie als Nutzer auch die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung
                der
                Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder
                einschränken. Bereits gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch
                automatisiert
                erfolgen. Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr alle
                Funktionen
                der Website vollumfänglich genutzt werden.</p>
        </ol>
    </div>
    <div class="section">
        <h2>
            Newsletter
        </h2>
        <ol type="1">
            <h4>
                <li>Beschreibung und Umfang der Datenverarbeitung</li>
            </h4>
            <p>Auf unserer Internetseite besteht die Möglichkeit einen Newsletter der Schule zu abonnieren. Dabei
                werden bei
                der Anmeldung zum Newsletter die Daten aus der Eingabemaske an uns übermittelt:</p>
            <ul>
                <li>Vor- und Nachname</li>
                <li>Emailadresse</li>
                <li>Ob man Schüler*in / Lehrer*in oder Erziehungsberechtigte*r ist</li>
            </ul>
            <p>Zudem werden Datum und Uhrzeit der Registrierung bei der Anmeldung erhoben. Für die Verarbeitung der
                Daten
                wird im Rahmen des Anmeldevorgangs Ihre Einwilligung eingeholt und auf diese Datenschutzerklärung
                verwiesen.

                Es erfolgt im Zusammenhang mit der Datenverarbeitung für den Versand von Newslettern keine
                Weitergabe der
                Daten an Dritte. Die Daten werden ausschließlich für den Versand des Newsletters verwendet.</p>
            <h4>
                <li>Rechtsgrundlage für die Datenverarbeitung</li>
            </h4>
            <p>Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zum Newsletters durch den Nutzer ist
                bei
                Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.</p>
            <h4>
                <li>Zweck der Datenverarbeitung</li>
            </h4>
            <p>Die Erhebung der E-Mail-Adresse und des Namens der Nutzers dient dazu, den Newsletter zuzustellen.
                Die
                Erhebung sonstiger personenbezogener Daten im Rahmen des Anmeldevorgangs dient dazu, einen
                Missbrauch der
                Dienste oder der verwendeten E-Mail-Adresse zu verhindern.</p>
            <h4>
                <li>Dauer der Speicherung</li>
            </h4>
            <p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr
                erforderlich
                sind. Die E-Mail-Adresse des Nutzers wird demnach solange gespeichert, wie das Abonnement des
                Newsletters
                aktiv ist.
            </p>
            <h4>
                <li>Widerspruchs- und Beseitigungsmöglichkeit</li>
            </h4>
            <p>Das Abonnement des Newsletters kann durch den betroffenen Nutzer jederzeit gekündigt werden. Zu
                diesem Zweck
                findet sich in jedem Newsletter ein entsprechender Link.</p>
        </ol>

    </div>
    <div class="section">
        <h2>
            Rechte der betroffenen Person
        </h2>
        <ol type="1">
            <p>Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener i.S.d. DSGVO und es stehen
                Ihnen
                folgende Rechte gegenüber dem Verantwortlichen zu:</p>
            <h4>
                <li>Auskunftsrecht</li>
            </h4>
            <p>Sie können von dem Verantwortlichen eine Auskunft darüber verlangen, ob und wo für personenbezogene
                Daten,
                die Sie betreffen, von uns verarbeitet werden.</p>

            <h4>
                <li>Recht auf Berichtigung</li>
            </h4>
            <p>Sie haben ein Recht auf Berichtigung und/oder Vervollständigung gegenüber dem Verantwortlichen.</p>

            <h4>
                <li>Recht auf Löschung</li>
            </h4>
            <p>Sie können von dem Verantwortlichen verlangen, dass die Sie betreffenden personenbezogenen Daten
                unverzüglich
                gelöscht werden, und der Verantwortliche ist verpflichtet, diese Daten unverzüglich zu löschen.</p>

            <h4>
                <li>Recht auf Datenübertragbarkeit</li>
            </h4>
            <p>Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie dem Verantwortlichen
                bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten.
            </p>

            <h4>
                <li>Recht auf Beschwerde bei einer Aufsichtsbehörde</li>
            </h4>
            <p>Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs steht Ihnen
                das Recht
                auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts,
                ihres
                Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, zu, wenn Sie der Ansicht sind, dass die
                Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt. Die
                Aufsichtsbehörde,
                bei der die Beschwerde eingereicht wurde, unterrichtet den Beschwerdeführer über den Stand und die
                Ergebnisse der Beschwerde einschließlich der Möglichkeit eines gerichtlichen Rechtsbehelfs nach
                Art. 78
                DSGVO.d</p>
        </ol>
    </div>
    {% endblock %}