{% extends 'base.html' %}

{% block title %}
Sign up to newsletter
{% endblock %}

{% block body %}
<form class="pretty_form" action="{{ url_for('login_routes.register') }}" method="post">
    <h3 style="text-align: center;">Bitte Registrieren Sie sich</h3>
    <div>
        <label for="first_name">Vorname</label>
        <input style="width: 100%;" class="pretty_textbox" id="first_name" type="text" name=first_name
            placeholder="Vorname" value="{{ first_name }}" required>
    </div>
    <div>
        <label for="last_name">Nachname</label>
        <input style="width: 100%;" class="pretty_textbox" id="last_name" type="text" name=last_name
            placeholder="Nachname" value="{{ last_name }}" required>
    </div>
    <div>
        <label for="email">E-Mailadresse</label>
        <input style="width: 100%;" class="pretty_textbox" type=email id="email" name=email placeholder="E-Mailadresse"
            value="{{ email }}" required>
    </div>
    {% if teacher_login %}
    <div>
        <label for="password">Passwort</label>
        <h5>Tipps für ein gutes Passwort</h5>
        <ul>
            <li>Benutzen Sie so viele Zeichen wie möglich</li>
            <li>Verwenden Sie niemals das gleiche Passwort doppelt</li>
            <li>Speichern Sie Ihre Passwörter in einem Passwort-Manager wie <a
                    href="https://bitwarden.com/">Bitwarden</a></li>
            <li>Überwachen sie Ihre Passwörter mit <a href="https://monitor.firefox.com/">Firefox-Monitor</a></li>
        </ul>
        <input style="width: 100%;" class="pretty_textbox" type=password id="password" name=password
            placeholder="Passwort" required>
    </div>
    {% else %}
    <div>
        <label for="role">Registrieren als:</label><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary pretty_button">
                <input type="radio" name="role" autocomplete="off" value="student" 
                required {% if role == 'student' %} checked {% endif %}> Schüler*in
            </label>
            <label class="btn btn-secondary pretty_button">
                <input type="radio" name="role" autocomplete="off" value="parent"
                required{% if role == 'parent' %} checked {% endif %}> Erziehungsberechtigte*r
            </label>
        </div>
    </div>

    {% endif %}
    <div>
        <label for="groups">Wählen Sie Ihre Klassen und Kurse</label>
        <h5>Folgendes sollten Sie wählen:</h5>
        <ul>
            <li>Ihre Klasse (6c, J1)</li>
            <li>Ihren Ethik oder Relikurs</li>
            <li>Ihren Sportkurs</li>
            <li>Ihren Profilkurs (NwT, Spanisch)</li>
            <li>Ihre AGs</li>
            <li>Alle Fächer (Für Kursstüfler*innen)</li>
        </ul>
        {% include 'group_selector.html' %}
    </div>
    <div class="pp_checkbox_container">
        <input type="checkbox" id="privacy_policy" name="privacy_policy" value="privacy_policy" required>
        <label for="privacy_policy">Ich habe die <a class="pretty_link" href="{{ url_for('public_routes.privacy_policy') }}" target="_blank" rel="noopener noreferrer">Datenschutzerklärung</a> gelesen und bin damit einverstanden</label>
    </div>
    {% include 'captcha.html' %}
    <button class="pretty_button" style="width: 100%;" type=submit value=register>Registrieren</button>
</form>
{% endblock %}