{% extends 'base.html' %}

{% block title %}
Request new password
{% endblock %}


{% block body %}
<form class="pretty_form" action="{{ url_for('login_routes.request_new_password') }}" method="post">
  <div>
      <label for="email">E-Mailadresse</label>
      <input style="width: 100%;" class="pretty_textbox" type=email id="email" name=email placeholder="E-Mail" value="{{ email }}" required>
  </div>
  {% include 'captcha.html' %}
  <button class='pretty_button' type="submit" value="request_password_change">Passwort ändern</button>
</form>
{% endblock %}