{% extends 'base.html' %}

{% block title %}
Neues Passwort
{% endblock %}

{% block body %}
<form class="pretty_form" action="{{ url_for('login_routes.set_new_password') }}" method="post">
    <div>
        <input type=hidden id="email" name=email value="{{ email }}" required>
    </div>
    <div>
        <input type=hidden id="token" name=token value="{{ token }}" required>
    </div>
    <div>
        <label for="password">Neues Passwort</label>
        <input style="width: 100%;" class="pretty_textbox" type=password id="password" name=password placeholder="Neues Passwort" required>
    </div>
    
    <button class="pretty_button" type=submit value=save>Speichern</button>
</form>
{% endblock %}
