{% extends 'base.html' %}

{% block title %}
Einstellungen
{% endblock %}

{% block body %}
{% if token is defined %}
<form class="pretty_form" action="{{ url_for('login_routes.settings') }}" method="post">
    <div>
        <input type=hidden id="token" name=token value="{{ token }}" required>
    </div>
    <div>
        <h3>Ändern Sie Ihre Einstellungen</h3>
        <label for="groups">Wählen Sie Ihre Klassen und Kurse</label>
        {% include 'group_selector.html' %}
    </div>
    <button class="pretty_button" style="width: 100%;" type=submit value=change_data>Daten ändern</button>
</form>
<form class="pretty_form" action="{{ url_for('login_routes.settings') }}" method="post">
    <div>
        <input type=hidden id="token" name=token value="{{ token }}" required>
    </div>
    <div>
        <input type=hidden id="delete" name=delete value="delete" required>
    </div>
    <div>
        <h3>Melden Sie sich ab</h3>
        <p>Wenn Sie sich abmelden, werden alle ihre Daten gelöscht. Sie werden keine weiteren Email mehr von uns
            erhalten</p>
        <button class="pretty_button" style="width: 100%;" type=submit value=change_data>Alle Daten löschen</button>
    </div>
</form>

{% else %}
<div style="max-width: 800px; width: 90%; margin:auto;">
    <h1>Einstellungen</h1>
    <p>In jeder an Sie gesendeten Email befindet sich ein "Abmelden" Link. Dort können Sie sich entweder komplett
        abmelden, oder Ihre abonnierten Klassen und Kurse ändern.</p>

</div>
{% endif %}
{% endblock %}