{% extends "base.html" %}

{% block title%}
Email schreiben
{% endblock %}

{% block head%}

<!-- Websockets -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<!-- Pell -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
<script src="https://unpkg.com/pell"></script>

<!-- HoldOn Skripts -->
<link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='build/styles/HoldOn.min.css') }}">
<script src="{{ static_url_for('static', filename='build/js/HoldOn.min.js') }}"></script>


<!-- Custom Scripts (overwrite everything else) -->
<link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='build/styles/write.css') }}">
{% endblock %}

{% block body%}
<!-- Submit-Form -->
<form id="absendeFormular" class="form-horizontal">
    <div class="form_container_container">
        <h1> Email versenden </h1>
        <div class="form_container">
            <!--  flex-direction: column; -->
            <label for="absender">Von:</label>
            <div><input type="text" name="absender" id="absender" class="pretty_textbox" value="{{ sender }}" readonly>
            </div>

            <label for="groupSelector">Empfänger:</label>
            <div>{% include 'group_selector.html' %}</div>

            <label for="betreff">Betreff:</label>
            <div><input type="text" name="Betreff" id="betreff" class="pretty_textbox" placeholder="Betreff"></div>

            <label for="attachment_">Anhänge:</label>
            <div>
                <div class="btn-group" role="group" aria-label="File Input">
                    <!-- This button triggers a click event on the file input -->
                    <button id="attachment_" onclick="$('#anhang').click();return false" data-toggle="tooltip"
                        class="btn btn-secondary pretty_button">
                        Datei auswählen
                    </button>
                    <button id="toggleAttachments" onclick="toggleAttachmentVisibility();return false"
                        class="btn btn-secondary pretty_button" title="Es wurden noch keine Anhänge hinzugefügt">
                        <span class='glyphicon glyphicon-triangle-left'></span>
                    </button>
                </div>
                <div class="collapse">
                    <div id="anhaenge_liste" class="list-group">
                    </div>
                </div>
            </div>

            <label for="editor">Inhalt:</label>
            <div>
                <div id="editor" class="pell" style="width: 100%;"></div>
            </div>

            <label>Gruppen:</label>
            <div>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary pretty_button">
                        <input type="radio" class="toggleButton" name="options" autocomplete="off" value="students">
                        Schüler*innen
                    </label>
                    <label class="btn btn-secondary pretty_button">
                        <input type="radio" class="toggleButton" name="options" autocomplete="off" value="parents"
                            checked> Eltern
                    </label>
                    <label class="btn btn-secondary active pretty_button">
                        <input type="radio" class="toggleButton" name="options" autocomplete="off" value="all"> Alle
                    </label>
                </div>
            </div>

            <div></div>
            <div><input type="submit" class="pretty_button" name="absenden" value="Email senden"
                    onclick="getModalContent();return false;"></div>

            <div></div>
            <div></div>
        </div>
        <!-- Status Div -->
        <div id="status" class="well">
            <span id="statusText">Noch keine Mail gesendet</span>
            <div id="statusList"></div>
        </div>
    </div>
</form>



<!-- HTML Elements which are not supposed to be displayed -->
<div class="hidden">
    <input type="file" class="hidden" id="anhang" onchange="console.log($('#anhang').value)" multiple="true">
    <div id="html-output" style="white-space:pre-wrap;"></div>
    <div id="normal-output" style="white-space:pre-wrap;"></div>
</div>

<!-- Confirm-Popup (hidden by default) -->
<div id="confirmPopup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    Bestätigung
                </h4>
            </div>

            <div class="modal-body">
                Bitte bestätigen sie dass sie die Email wirklich an die folgenden <span id="numSelected"></span>
                Personen schicken möchten

                <!-- Usernames are inserted into this ul -->
                <ul class="list-group" id="selectedUsers">

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default abortButton" data-dismiss="modal">
                    Abbrechen
                </button>
                <button type="button" class="btn btn-primary pretty_button" data-dismiss="modal" onclick="send()">
                    Bestätigen
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ static_url_for('static', filename='build/js/write.js') }}"></script>
{% endblock %}